html {
  background-color: lavender;
}

.container {
  background-color: rgb(110, 110, 182);
  padding: 1rem;
}

.card__weather {
  background-color: lavender;
  padding: .5rem;

}

.card {
  padding: .5rem;
}